@font-face {
    font-family: 'LeagueSpartan';
    src: url('https://cdn.jsdelivr.net/gh/sincerely-yrs/LeagueSpartan@master/LeagueSpartan-VF.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/sincerely-yrs/LeagueSpartan@master/LeagueSpartan-VF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


